/*Обнуление*/
@import url("reset.css");
/*--------------------*/
body{
	background: #0D0D11;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #9C9C9C;
}
/*--------------------*/
[class*="__container"]{
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}
.button {
	display: inline-block;
	padding: 16px 29.5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.43;
	background: #3D96F4;
	letter-spacing: 2px;
	color: #FFFFFF;
	border-radius: 50px;
	transition: background-color 0.3s ease 0s;
}
@media (max-width: 991.98px) {
	.button{
		padding: 13px 20px;
	}
}
.button:hover{
	background: #64a9f2;
}
.title {
	font-weight: 500;
	font-size: 51px;
	line-height: 1.19;
	color: #FFFFFF;
}
.text{
	font-size: 18px;
	line-height: 1.5;
}
.text-small{
	line-height: 1.5; /* 24/16 */
}
.label{
	display: inline-block;
	font-size: 11px;
	line-height: 1.4; /* 17/11 */
	text-transform: uppercase;
	padding: 11px 19px;
	border: 1px solid rgba(129, 129, 139, 0.2);
	border-radius: 12px;
	letter-spacing: 2px;
}
.label:hover{
	border: 1px solid rgba(129, 129, 139, 0.4);
	transition: border 0.3s ease 0s;
}
.subtitle{
	font-weight: 400;
	font-size: 32px;
	line-height: 1.4;
	color: #FFFFFF;
}
.subtitle-small{
	font-weight: 400;
	font-size: 19px;
	line-height: 1.42; /* 27/19 */
	color: #FFFFFF;
}
/*============================================================================================================================================================================*/
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}
main{
	flex: 1 1 auto;
}
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
	padding-top: 5px;
	padding-bottom: 5px;
	column-gap: 35px;
	min-height: 106px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.header__logo {
	flex: 0 0 auto;
}
.header__logo img{
	max-width: 100%;
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
}
.menu-list {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	row-gap: 3px;
	column-gap: 35px;
}
.menu__item {
}
.menu__item:hover{
	text-decoration: underline;
}
.menu__link {
	display: block;
	line-height: 1.62;
}
.header__cart {
}
.cart-header {
	display: flex;
	column-gap: 5px;
}
.cart-header__text {
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 1px;
}
.cart-header__text:hover{
	text-decoration: underline;
}
.cart-header__quantity {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	font-size: 14px;
	font-weight: 500;
	background: rgba(129, 129, 139, 0.3);
	border-radius: 30px;
}
.header__botton {
	flex: 0 0 auto;
}
.icon-menu{
	display: none;
}
.header__botton,
.header__logo,
.header__cart{
	position: relative;
	z-index: 5;
}
@media (max-width: 991.98px) {
	.header__container,
	.menu-list{
		column-gap: 25px;
	}
	.header__container{
		min-height: 90px;
	}
}
@media (max-width: 767.98px) {
	.header__logo {
		width: 100px;
	}
	.icon-menu{
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu::after,
	.icon-menu::before,
	.icon-menu span{
		content: '';
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background: #FFFFFF;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before{
		top: 0;
	}
	.icon-menu::after{
		bottom: 0;
	}
	.icon-menu span{
		top: calc(50% - 1px);
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		background: #000000;
		overflow: auto;
		transition: left 0.35s ease 0s;
	}
	.menu__body::before{
		content: '';
		position: fixed;
		width: 100%;
		left: -100%;
		top: 0;
		height: 70px;
		z-index: 10;
		background-color: #000000;
		transition: left 0.35s ease 0s;
	}
	.menu-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 100px 15px 0 15px; 
		row-gap: 13px;
	}
	.menu__link{
		font-size: 24px;
	}
	.header__container{
		min-height: 70px;
		column-gap: 15px;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before{
		left: 0;
	}
	.menu-open .icon-menu span{
		width: 0;
	}
	.menu-open .icon-menu::before{
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.menu-open .icon-menu::after{
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}
}
@media (max-width: 519.98px){
	.header__container{
		padding-left: 10px;
		padding-right: 10px;
		column-gap: 13px;
	}
	.header__logo{
		flex: 0 0 32px;
		overflow: hidden;
	}
	.header__logo img{
		max-width: 137px;
	}
	.cart-header__text{
		display: none;
	}
	.cart-header__quantity{
		font-size: 16px;
		width: 40px;
		height: 50px;
		background: url(../images/icon/cart.svg) center 7.3px/ 38px no-repeat;
	}
}
/*============================================================================================================================================================================*/
.greetings {
	padding: 155px 0 100px 0 ;
}
.greetings__container {
}
.greetings__wrapper {
	display: flex;
	gap: 32px;
}
.greetings__content {
	align-self: center;
	flex: 0 1 50%;
	position: relative;
}
.greetings__content h1:first-child,
.greetings__content div:nth-child(2){
	margin-bottom: 28px;
}
.greetings__content::before{
	content: '';
	position: absolute;
	left: -32px;
	top: -20px;
	width: 125px;
	height: 122px;
	background: url(../images/icon/deco.svg) 0 0 no-repeat;
}
.greetings__buttons {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}
.greetings__button-left{

}
.greetings__button-right{
	
}
.button_gruy {
	background-color: rgba(129, 129, 139, 0.2);
}
.button_gruy:hover{
	background-color: rgba(129, 129, 139, 0.45);
}
.greetings__images {
	display: flex;
	justify-content: center;
	flex: 0 1 50%;
	gap: 60px;
}
.greetings__images img{
	max-width: 100%;
}
.greetings__images-left {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.greetings__images-1 {
	border-radius: 50% / 31%;
	overflow: hidden;
}
.greetings__images-1 img{
	transform: scale(1.01);
}
.greetings__images-2 {
	border-radius: 50% 50% 0 50%;
	overflow: hidden;
}
.greetings__images-2 img{
	transform: scale(1.01);
}
.greetings__images-right {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.greetings__images-3 {
	border-radius: 50% 0 50% 50%;
	overflow: hidden;
}
.greetings__images-4 {
	border-radius: 50% / 30%;
	overflow: hidden;
}
@media(max-width:991.98px){
	.greetings{
		padding: 115px 0 60px 0;
	}
	.greetings__title{
		font-size: 44px;
	}
	.greetings__images{
		gap: 30px;
	}
}
@media (min-width: 768px) {
	.greetings__title {
		max-width: 520px;
	}
	.greetings__text {
		max-width: 500px;
	}
}
@media(max-width:767.98px){
	.greetings{
		padding: 105px 0 30px 0;
	}
	.greetings__title{
		font-size: 32px;
	}
	.greetings__wrapper{
		flex-direction: column;
	}
	.greetings__content h1:first-child,
	.greetings__content div:nth-child(2){
		margin-bottom: 15px;
}
}
@media(max-width:429.98px){
	.greetings__buttons{
		flex-direction: column;
		text-align: center;
	}
}
/*============================================================================================================================================================================*/
.clients {
	padding: 100px 0 80px 0;
}
.clients__container {
	text-align: center;
}
.clients__title {
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.clients__title:not(:last-child){
	margin-bottom: 45px;
}
.clients__images {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 15px;
}
.clients__images img{
	max-width: 100%;
}
.clients__image-bgf{
	position: relative;
}
.clients__image-bgf::before {
	content: '';
	display: block;
	position: absolute;
	left: -35px;
	top: -25px;
	width: 115px;
	height: 64px;
	background: linear-gradient(90deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
}
.clients__image-bgl{
	position: relative;
}
.clients__image-bgl::after {
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	top: -20px;
	transform: rotate(180deg);
	width: 115px;
	height: 64px;
	background: linear-gradient(90deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
}
@media(max-width:991.98px){
	.clients {
		padding: 60px 0 50px 0;
	}
	.clients__title:not(:last-child){
		margin-bottom: 35px;
	}
}
@media(max-width:767.98px){
	.clients{
		padding: 30 0 30px 0;
	}
	.clients__title:not(:last-child){
		margin-bottom: 25px;
	}
}
/*============================================================================================================================================================================*/
.services {
	padding: 80px 0 100px 0;
}
.services__container {
	display: flex;
	gap: 32px;
}
.services__content {
	align-self: center;
	flex: 0 1 50%;
}
.services__label{

}
.services__label:not(:last-child){
	margin-bottom: 20px;
}
.services__title {
	max-width: 450px;
}
.services__title:not(:last-child){
	margin-bottom: 12px;
}
.services__text {
	max-width: 500px;
}
.services__text:not(:last-child){
	margin-bottom: 30px;
}
.services__button {
}
.button {
}
.service__column-wrapper {
	flex: 0 1 57%;
	display: flex;
	gap: 32px;
}
.service__column-wrapper .services__column:first-child{
	padding-top: 48px;
}
.services__column {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex: 0 1 50%;
}
.services__item {
}
.item {
	display: flex;
	flex-direction: column;
	padding: 55px 25px;
	row-gap: 15px;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.item__image {
}
.item__image img{
	max-width: 100%;
}
.item__title {
}
.subtitle-small {
}
.item__text {
}
.text-small_light {
	color: #81818B;
}
@media(max-width:1149.98px){
	.services__container{
		flex-direction: column;
	}
	.services__title{
		max-width: none;
	}
	.services__text {
		max-width: none;
	}
	.service__column-wrapper{
		column-gap: 90px;
	}
}
@media(max-width:991.98px){
	.services {
		padding: 50px 0 60px 0;
	}
	.service__column-wrapper{
		gap: 32px;
	}
	.services__title{
		font-size: 44px;
	}
}
@media(max-width:767.98px){
	.services {
		padding: 30px 0 40px 0;
	}
	.services__text:not(:last-child){
		margin-bottom: 15px;
	}
	.services__title{
		font-size: 32px;
	}
}
@media (max-width:649.98px) {
	.service__column-wrapper{
		flex-direction: column;
	}
	.service__column-wrapper .services__column:first-child{
		padding-top: 0px;
	}
}
@media (max-width:429.98px) {
	.services__button {
		display: flex;
		justify-content: center;
	}
	.services__column{
		gap: 20px;
	}
	.service__column-wrapper{
		gap: 20px;
	}
}
/*============================================================================================================================================================================*/
.why {
	padding-top: 100px;
	padding-bottom: 100px;
}
.why__container {
	display: flex;
	gap: 64px;
}
.why__images {
	position: relative;
	flex: 0 1 50%;
	display: flex;
}
.why__images::before{
	content: '';
	position: absolute;
	left: -12px;
	bottom: 0;
	width: 125px;
	height: 122px;
	background: url(../images/icon/deco.svg) 0 0 no-repeat;
}
.why__images img{
	max-width: 100%;
}
.why__why-images-1 {
	align-self: flex-end;
	overflow: hidden;
	border-radius: 86% 0 49% 49% / 50% 0 31% 31%;
}
.why__why-images-1 img{
	transform: scale(1.01);
}
.why__why-images-2 {
	align-self: flex-end;
	overflow: hidden;
	border-radius: 50% 50% 50% 0;
}
.why__why-images-2 img{
	transform: scale(1.01);
}
.why__content {
	align-self: center;
	flex: 0 1 50%;
}
.why__label:not(:last-child) {
	margin-bottom: 40px;
}
.label {
}
.why__title:not(:last-child) {
	margin-bottom: 40px;
}
.title {
}
.why__text {
}
.why__text:not(:last-child) {
	margin-bottom: 40px;
}
.text {
}
.why__list {
}
.why__list li{
	position: relative;
	padding-left: 42px;
	padding-top: 4px;
}
.why__list li:not(:last-child){
	margin-bottom: 25px;
}
.why__list li::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background: rgba(129, 129, 139, 0.1) url(../images/icon/check.svg) center no-repeat;
	border-radius: 50%;
}
.text-small {
}
@media(max-width:991.98px){
	.why {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.why__title {
		font-size: 44px;
	}
	.why__title:not(:last-child) {
		margin-bottom: 25px;
	}
	.why__text:not(:last-child) {
		margin-bottom: 25px;
	}
}
@media(max-width:767.98px){
	.why {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.why__container{
		flex-direction: column-reverse;
	}
	.why__label:not(:last-child) {
		margin-bottom: 20px;
	}
	.why__title {
		font-size: 32px;
	}
	.why__title:not(:last-child) {
		margin-bottom: 15px;
	}
	.why__text:not(:last-child) {
		margin-bottom: 15px;
	}
}
@media(max-width:499.98px) {
	.why__list li:not(:last-child){
		margin-bottom: 15px;
	}
}
/*============================================================================================================================================================================*/
.advanteges {
	padding: 100px 0;
}
.advanteges__container {
	display: flex;
	gap: 32px;
}
.advanteges__content {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 32px;
}
.advanteges__item {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.column {
	padding: 40px;
}
.column__title {
}
.column__title:not(:last-child){
	margin-bottom: 32px;
}
.title {
}
.column__text {
}
.text {

}
.advanteges__image {
	flex: 0 0 39%;
	align-self: flex-start;
	overflow: hidden;
	border-radius: 0 68% 60% 60%/0 68% 50% 50%;
}
.advanteges__image img{
	max-width: 100%;
	transform: scale(1.01);
}
@media(max-width:1019px){
	.column {
		padding: 35px;
	}
}
@media(max-width:991.98px){
	.advanteges__container{
		flex-direction: column;
	}
	.column__title:not(:last-child){
		margin-bottom: 20px;
	}
	.column {
		padding: 40px;
	}
	.advanteges {
		padding: 60px 0;
	}
	.advanteges__image{
		align-self: center;
	}

}
@media(max-width:767.98px){
	.column__title:not(:last-child){
		margin-bottom: 10px;
	}
	.advanteges__image {
		display: flex;
		flex: 0 1 450px;
	}
	.advanteges {
		padding: 40px 0;
	}
}
@media(max-width:600px){
	.column {
		padding: 30px;
	}
	.advanteges__image {
		flex: 0 1 390px;
	}
	.advanteges__content {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media(max-width:400px){
	.advanteges__image {
		flex: 0 1 340px;
	}
}
/*============================================================================================================================================================================*/
.testimonials {
	padding: 100px 0;
}
.testimonials__container {
	display: flex;
	flex-direction: column;
	row-gap: 64px;
}
.testimonials__content {
	display: flex;
	gap: 32px;
	justify-content: space-between;
}
.testimonials__content-body{
}
.testimonials__label:not(:last-child) {
	margin-bottom: 25px;
}
.label {
}
.testimonials__title{
	max-width: 650px;
}
.testimonials__title:not(:last-child) {
	margin-bottom: 12px;
}
.title {
}
.testimonials__text {
	max-width: 750px;
}
.text {
}
.testimonials__button {
	flex: 0 0 auto;
	align-self: flex-end;
}
.testimonials__cards {
	display: flex;
	gap: 48px;
}
.card {
	display: flex;
	flex-direction: column;
	row-gap: 33px;
	flex: 0 1 33.3333%;
	padding: 64px 40px 84px;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.card__author {
	display: flex;
	gap: 16px;
}
.card__author img{
	max-width: 100%;
	transform: scale(1.03);
}
.card__image-1{
	flex: 0 0 68px;
	overflow: hidden;
	border-radius: 0 50% 50% 50%;
}
.card__image-2{
	align-self: flex-start;
	flex: 0 0 68px;
	overflow: hidden;
	border-radius: 50% 0 50% 50%;
}
.card__image-3{
	align-self: flex-start;
	flex: 0 0 68px;
	overflow: hidden;
	border-radius: 50% 50% 5% 45%;
}
.card__author-text {
}
.card__name {
	color: #fff
}
.card__name:not(:last-child){
	margin-top: 8.5px;
	margin-bottom: 6px;
}
.text-small {
}
.card__company-name {
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
}
.card__title {
}
.subtitle {
}
.card__text {
	flex: 1 1 auto;
}
.card__rate {
	display: flex;
	gap: 5px;
}
@media(max-width:1100px){
	.testimonials__cards{
		flex-direction: column;
		gap: 32px;
	}
	.card{
		padding: 35px 20px;
		row-gap: 20px;
	}
}
@media(max-width:991.98px){
	.testimonials {
		padding: 60px 0;
	}
}
@media(max-width:767.98px){
	.testimonials {
		padding: 40px 0;
	}
	.testimonials__container{
		gap: 44px;
	}
	.testimonials__content {
		flex-direction: column;
		row-gap: 20px;
	}
	.testimonials__label:not(:last-child) {
		margin-bottom: 15px;
	}
	.testimonials__title{
		font-size: 44px;
		max-width: none;
	}
	.testimonials__text{
		max-width: none;
	}
	.testimonials__button{
		align-self: flex-start;
	}
}
@media(max-width:420px){
	.testimonials__button{
		align-self: stretch;
		text-align: center;
	}
}
/*============================================================================================================================================================================*/
.news {
	padding-top: 100px;
	padding-bottom: 200px;
}
.news__container {
	display: flex;
	flex-direction: column;
	gap: 64px;
}
.news__content {
	display: flex;
	gap: 32px;
	justify-content: space-between;
}
.testimonials__content-body {
}
.testimonials__label {
}
.label {
}
.news__title {
	max-width: 400px;
}
.news__title:not(:last-child){
	margin-bottom: 12px;
}
.title {
}
.testimonials__text {
}
.text {
}
.testimonials__button {
}
.button {
}
.news__cards {
	display: flex;
	gap: 48px;
}
.section {
	flex: 0 1 33.3333%;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.section__header {
	position: relative;
	margin-bottom: 10px;
}
.section__image {
	display: block;
	position: relative;
	margin-bottom: 49.238579%;
}
.section__image img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.section__categori {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(129, 129, 139, 0.5);
	border-radius: 0px 10px 0px 0px;
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
	color: #FFFFFF;
}
.section__body {
	padding: 26px 29px 41px 26px ;
}
.section__data{
	color: rgba(129, 129, 139, 0.9);
}
.section__data:not(:last-child) {
	margin-bottom: 20px;
}
.section__title:not(:last-child) {
	margin-bottom: 30px;
}
.subtitle {
}
.section__text:not(:last-child) {
	margin-bottom: 21px;
}
.text-small {
}
.section__link {
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
	color: #3D96F4;
}
.section__link:hover{
	text-decoration: underline;
}
@media(max-width:1100px) {
	.news__cards{
		gap: 20px;
	}
	.section__body {
		padding: 25px 15px ;
	}
}
@media(max-width:991.98px){
	.news {
		padding-top: 60px;
		padding-bottom: 120px;
	}
	.testimonials__button {
		padding: 16px 29.5px;
	}
}
@media(max-width:767.98px){
	.news {
		padding-top: 40px;
		padding-bottom: 80px;
	}
	.news__container{
		gap: 42px;
	}
	.news__content{
		flex-direction: column;
		row-gap: 20px;
	}
	.section__header{
		margin-bottom: 0;
	}
	.news__title{
		font-size: 34px;
		max-width: none;
	}
	.section__title:not(:last-child) {
		margin-bottom: 15px;
	}
	.news__text{
		max-width: none;
	}
	.news__cards{
		flex-direction: column;
	}
}
/*============================================================================================================================================================================*/
.ready {
	padding-bottom: 150px;
}
.ready__container {
	display: flex;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 52px 55px 52px 160px;
}
.ready__content {
	text-align: center;
}
.ready__title{
	max-width: 380px;
}
.ready__title:not(:last-child) {
	margin-bottom: 16px;
}
.ready__text{
	max-width: 380px;
}
.subtitle {
}
.text-small {
}
.ready__actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 32px;
	flex: 0 1 55%;
}
.button {
}
.button_gruy {
}
@media(max-width:1310px) {
	.ready__container{
		border-radius: 0%;
	}
}
@media(max-width:991.98px){
	.ready {
		padding-bottom: 80px;
	}
	.ready__container {
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
		padding: 52px 15px;
	}
	.ready__title:not(:last-child) {
		margin-bottom: 10px;
	}
}
@media(max-width:767.98px){
	.ready {
		padding-bottom: 50px;
	}
}
@media(max-width: 500px) {
	.ready__container {
		padding: 42px 15px;
	}
	.ready__title{
		font-size: 24px;
	}
	.ready__button{
		text-align: center;
		width: 80%;
	}
	.ready__actions {
		align-self: stretch;
		flex-direction: column;
		row-gap: 20px;
	}
}
/*============================================================================================================================================================================*/
.footer {

}
.footer__main {
	padding: 150px 0 160px 0;
}
.footer-main {
}
.footer-main__container {
	display: grid;
	column-gap: 64px;
	grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
.footer-main__for-us {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.footer-main__logo {
}
.footer-main__text {
	max-width: 346.5px;
}
.text-small {
}
.footer-main__social {
	display: flex;
	gap: 16px;
}
.social {
	flex: 0 0 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	border: 1px solid rgba(129, 129, 139, 0.9);
	border-radius: 36px;
	transition: all 0.3s ease 0s;
}
.social:hover{
	border: 1px solid rgba(255, 255, 255, 1);
}
.footer-main__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	letter-spacing: 1px;
	color: #FFFFFF;
}
.footer-main__title:not(:last-child){
	margin-bottom: 30px;
}
.footer-main__list {
	display: grid;
	row-gap: 23px;
}
.list__item {
	line-height: 1.62; /* 26/16 */
}
.list__item:hover{
	color: #fff;
}
.footer-main__subscribe {
}
.subscribe {
}
.subscribe__text:not(:last-child) {
	margin-bottom: 33px;
}
.subscribe__action {
	display: flex;
	gap: 16px;
}
.subscribe__email {
	width: 100%;
	padding: 0 30px;
	border: 1px solid rgba(129, 129, 139, 0.3);
	border-radius: 50px;
	background-color: transparent;
}
.subscribe__email:focus{
	border: 3px solid rgba(255, 179, 0, 0.8);
}
.subscribe__email::placeholder{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #999999;

}
.subscribe__button {
	padding: 16px 25px;
}
.button {
}
.footer__bottom {
	
}
.copy {
	border-top: 1px solid rgba(129, 129, 139, 0.2);
}
.copy__container {
	text-align: center;
	padding: 46px 15px;
}
.copy__text {
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
}
@media(max-width: 1100px){
	.footer-main__container {
		gap: 45px;
		grid-template-columns: minmax(auto, 378px) auto auto;
	}
	.footer-main__for-us:nth-child(1){
		grid-column: span 3;
	}
	.footer-main__text {
		max-width: none;
	}
}
@media(max-width: 991.98px){
	.footer__main {
		padding: 80px 0 70px 0;
	}
	.copy__container {
		text-align: center;
		padding: 36px 15px;
	}
}
@media(max-width: 767.98px){
	.footer__main {
		padding: 50px 0 40px 0;
	}
	.footer-main__container {
		gap: 35px;
		grid-template-columns: auto auto;
	}
	.footer-main__for-us:nth-child(1){
		grid-column: span 2;
	}
	.footer-main__subscribe:nth-child(4){
		grid-column: span 2;
	}
	.subscribe__text:not(:last-child) {
		margin-bottom: 23px;
	}
	.footer-main__title:not(:last-child){
		margin-bottom: 20px;
	}
	.copy__container {
		text-align: center;
		padding: 20px 15px;
	}
}
@media(max-width: 480px){
	.subscribe__action {
		flex-direction: column;
	}
	.footer-main__title{
		letter-spacing: 0;
	}
	.subscribe__action input{
		height: 54px;
	}
}
